<footer>
    <p>&copy; 2023 Codeial. All rights reserved.</p>
    <ul>
        <li> <a href="/">Home</a></li>
        
        <li><a href="/users/profile">Profile</a></li>
    </ul>
        
</footer>