<style>
    h1,.nav-item{
        color: white;
    }
</style>
<header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-coral">
        <a class="navbar-brand" href="#"><h1>Codeial</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile" style="color: white;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bell" style="color: white;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-sign-out-alt" style="color: white;"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    
      
      
    <!-- <div class="header-buttons">
        <a href="/users/sign-up"><button class=".sign-in-button">Sign Up</button></a>
    <a href="/users/sign-in"><button class=".sign-out-button">Sign In</button></a>
    </div> -->
</header>