<header>
    <h1>Codeial</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
</header>