<style>
    footer{
        position: absolute;
    }
</style>
<link rel="stylesheet" href="/css/home.css">
<!-- <link rel="stylesheet" href="/css/sign-up-in.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

<h1 class="sign">Sign In</h1>
<form action="/users/create-session" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Sign In">
</form>

