/* Update form styles */
form {
    max-width: 500px;
    margin: 80px auto;
    padding: 76px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #eee;
  }
  
  form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #0069d9;
  }

footer{
    position: absolute !important;
}  