/* CSS for Codeial social network */

/* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
  }
  
  /* Style the header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Style the main content */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 80px
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  a:hover{
    background-color: #c0c0c0;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  /* Style the footer */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  
  