$header-bg-color: #1d1d45 ; // Define a variable for the background color

header {
  background-color: $header-bg-color; // Use the variable to set the background color
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow: hidden;
  
  .header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .header-buttons {
    display: flex;
    border-radius: 10%;
    // height: 40px;
    // width: 30px;
    // background-color: #fff;
    color: #333;
    justify-content: center;
    align-items: center;
  


    
    button {
      border-radius: 10%;
    height: 40px;
    width: 72px;
    cursor: pointer;
    margin-right: 20px;
    padding: 0px;
    &:hover{
      background-color: rgb(83, 63, 63);
    }
      
    }
    
    .sign-in-button {
      background-color: white;
      color: $header-bg-color;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: bold;
      
      
    }
    
    .sign-out-button {
      background-color: $header-bg-color;
      color: white;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
